.artistsContainer{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    height: 200px;
    margin: 20px 30px;
}


.background{
    background-image: url("/images/spotify-background.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
}

.nombre{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.infoContainer {
    text-align: center;
    width: 30vw;
}

